<div class="md:flex md:items-start mb-4">
  <div class="md:w-1/3">
    <%= form.label :diet, 'Dietary Preferences', class: 'col-form-label' %>
  </div>
  <div class="md:w-2/3">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-textarea' %>
    <small class="form-text">For example, vegan, vegetarian, gluten free, and any allergies or intolerances.</small>
  </div>
</div>
