<div id="guests-leader" class="text-center text-white bg-cover bg-center" style="background-image: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)), url('<%= asset_path('rsvp.jpg') %>');">
  <div class="container-narrow py-16">
    <h1>RSVP</h1>
  </div>
</div>
