<section id="welcome-index-venue-leader" class="text-center text-white bg-cover bg-center mt-20" style="background-image: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)), url('<%= asset_path('venue.jpg') %>');">
  <div class="container-narrow">
    <h1 class="py-12">The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container-narrow">
    <div class="grid grid-cols-1 md:grid-cols-1">
      <div class="md:mx-auto md:w-1/2">
        <h2 class="pt-12 pb-4 text-center">How do I get there?</h2>
        <p class="text-justify">Ships sail regularly from Ushuaia, Argentina. Allow two days.</p>
        <p class="text-justify">There is ample snow mobile parking. Watch out for penguins.</p>
        <h2 class="pt-12 pb-4 text-center">Coming from out of town?</h2>
        <p class="text-justify">The station has a number of rooms that you can get at the <strong>discounted wedding rate</strong>.</p>
        <p class="text-justify">Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p>
      </div>
    </div>
  </div>
</section>
