<div class="container-narrow">
  <div>
    <div class="md:mx-auto md:w-2/3">
      <%= render partial: 'guests/leader' %>
      <%= render partial: 'guests/rsvp_nav', locals: { active: 2 } %>

      <h2>Add Plus One</h2>
      <%= render partial: 'form', locals: { submit_action: 'Add Plus One' } %>
    </div>
  </div>
</div>
